.worker,
.row .row {
  max-width: 500px;
  margin-bottom: 10px;
}
#filter .row .row,
#filter select,
#filter label {
  max-width: none;
  margin-bottom: 0;
}
.columns {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
p {
  margin-bottom: 2px;
}
.lineworkers {
  padding-left: 20%;
}
.subdivisions {
  margin-top: 4rem;
}
.linemanager:first-child:before {
  border-left: 2px solid #6e8dbb;
  border-right: none;
  left: 50%;
}
.linemanager:before {
  content: '';
  display: block;
  height: 2rem;
  width: 50%;
  position: absolute;
  border-top: 2px solid #6e8dbb;
  border-right: 2px solid #6e8dbb;
  right: 50%;
  top: -2.2rem;
}
.worker {
  margin-bottom: 10px;
}
.worker-info-subdivision {
  font-size: 1.5em;
  color: #6e8dbb;
}
.worker-info-department {
  color: #6e8dbb;
}
.worker-chart {
  color: transparent;
}
.worker-photo img {
  border: 1px solid #eee;
  box-shadow: 2px 2px 10px;
}
.worker-photo.clicked img {
  box-shadow: 0 0 10px red;
}
.worker.overdue .worker-photo img {
  border-color: red;
}
.director {
  position: relative;
}
.director:after {
  content: '';
  display: block;
  height: 2rem;
  position: absolute;
  border-right: 2px solid #6e8dbb;
  right: 50%;
  bottom: -1.8rem;
}
.lineworker .worker-info-subdivision {
  display: none;
}
#taskdetails {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  z-index: 999;
}
#taskdetails .first-row {
  font-weight: 'bold';
  color: 'grey';
  background: #eee;
}
#taskdetails .task-progress {
  background-color: orange;
}
#taskdetails .dragging-handler {
  background: gray;
}
